.orange-button {
  background: linear-gradient(60deg, #dc4405, #e05e29);
  color: #fff;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px;
}

.disabled {
  opacity: 0.5;
}
