.emergency-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0px 20px;

  .header {
    h1 {
      margin-left: 20px;
    }
  }

  .content {
    background: var(--white);
    width: 340px;
    height: 80vh;
    border-radius: 4px;
    display: flex;
    padding: 20px 20px;
    align-items: flex-start;
    flex-direction: column;

    img {
      height: 150px;
      width: 150px;
      border-radius: 4px;
      padding: 0px 70px;
      margin: 15px 0px;
    }

    p {
      margin-top: 10px;
    }
  }
}
