.orange-button {
  background: var(--orange-color);
  color: #fff;
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  padding: 8px;
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;

  &:hover {
    background: #fff;
    border: 1.5px solid #dc4405;
    color: #dc4405;
  }
}

.disabled {
  opacity: 0.5;
}
