.view-reports {
  position: fixed;
  padding: 10px 23px;
  top: 12.5%;
  left: 30%;
  width: 410px;
  height: 470px;
  border-radius: 4px;
  background: rgba($color: #000, $alpha: 0.8);

  .close-icon {
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);

    &:hover {
      opacity: 0.5;
    }
  }

  .reports-container {
    margin-top: 20px;
    overflow-y: scroll;
    height: 450px;
    .reports {
      padding: 10px 0px;
      img {
        width: 400px;
        border-radius: 4px;
      }
      p {
        color: var(--white);
        letter-spacing: 1px;
      }
    }
  }

  .no-reports {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
    color: var(--white);
  }
}
