.add-reports-container {
  position: fixed;
  top: 13%;
  left: 43%;
  height: 75vh;
  width: 300px;
  background: rgba($color: #000, $alpha: 0.8);
  border-radius: 4px;
  padding: 20px;
  text-align: center;

  .close-icon {
    position: absolute;
    top: 2px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);

    &:hover {
      opacity: 0.5;
    }
  }

  .upload {
    margin-top: 20px;

    .ant-upload-list {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: var(--white);
      .ant-upload-span {
        width: 145px;
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        button {
          background: var(--grey-background);
          color: var(--white);
          border: none;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .done-button {
    position: absolute;
    bottom: 10px;
    right: 25%;
  }
}

@media (max-width: 700px) {
  .add-reports-container {
    left: 33%;
  }
}

@media (max-width: 600px) {
  .add-reports-container {
    left: 20%;
  }
}

@media (max-width: 500px) {
  .add-reports-container {
    left: 10%;
  }
}
