.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: var(--header-color);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 20px;
    margin-left: 80px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  span {
    font-size: 24px;
    margin-right: 30px;
    cursor: pointer;
  }

  .container {
    display: inline;

    span:hover {
      opacity: 0.5;
    }

    .hide {
      display: none;
    }

    .dropdown {
      position: absolute;
      top: 100%;
      right: 1%;
      width: 150px;
      z-index: 2;
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
      background: var(--white);
      color: var(--black);
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      color: var(--black);
      li {
        padding: 8px 12px;
        border-radius: 2px;
        background: var(--grey-background);
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
